//variables
$color-main:#472d1b;
$color-button:#f58110;
$color-title:#f5ae21;
$color-div: #9ec58c;
$color-footer:$color-main;
//mixin

.html
{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    padding: .2% 1%;
    background-color: rgba($color:$color-main, $alpha: 1);
    .menu{ 
        
         width: 80%;
        .main-menu{ 
            display: flex;
            justify-content: flex-end;        
            width: 100%;
            .nav-menu-ul{
               display: flex;
               flex-direction: row;
               justify-content: flex-end;
               margin: 0% 0%;
               width: 100%;
                li {
                    list-style: none;
                    font-size:0.9rem;
                    display: inline;
                    margin: 0% .7%;
                    font-weight: 500;
                    a{
                        text-decoration: none;
                        color: $color-button;
                    &:hover{
                        font-weight: 700;
                        text-decoration: underline;
                        
                        }
                    }       
                }        
            }
        }
        
         
     }
 }   
    .logo{
        padding: .3% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 90%;
        a{
           
            width: 80%;
            height: 90%;
            img{
                width: 100%;
                height: 90%;
            }
        }       
    }
 
   

.btn-contact{
    background-color: $color-button;
    border: none;
    color: $color-main;
    border-radius: 5px;
    border-color: $color-button;
    padding: .5rem 5rem;
    font-size: 1rem;
    font-weight: 600;
    &:hover{
        background-color:$color-main;
        color: #f58110;
        border-color: $color-main;
    }
}
.sec-home{           
        background: url(../assets/img/bg-home2.avif) no-repeat center center;
        -webkit-background-size: cover cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;     
        height: 100vh;     
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .title-name{
            color:white;
            font-weight: 600;
            margin-bottom: 2rem;
            text-shadow:0.1rem 0.1rem 0.1rem black ;
        }
        
    }

.mydate-description{
        display: flex;
        flex-direction: row;
        background-color: #dad0c6;
        justify-content: center;
        align-items: center;
        padding-top: 2%;

    .mydescription{
        display: flex;
        flex-direction: column;
       
        width:30%;
        font-size: 1.5rem;
            .myname{            
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 400;
                font-size: 2rem;            
                }
            .myprofesion{
                font-family: 'Times New Roman', Times, serif;            
            }
            .my-declaration{
                font-family:Arial, Helvetica, sans-serif;
                font-size: .9rem;
            }
}

    .myyimg{
        width: 30%;        
        padding: .7rem .8rem;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;

        img{            
            width: 90%;
            height: auto;
            border-radius:50%;
        }
        .my-cv{
            background-color: $color-main;
            border: none;
            color: $color-button;
            border-radius: 7px;
            border-color: $color-main;
            margin-top: 7%;       
            width: 60%;            
            font-size: 1rem;
            font-weight: 400;
        &:hover{
             background-color:$color-button;
             color: $color-main;
             border-color: #472d1b;
    }
        }
    }
    .my-skill{
        width: 30%;        
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .kills{
            align-items: center;
            width: 90%;          

            label.progress-label{
                padding: 5% 0%;
                width: 100%;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 1rem;           
            }
        }
    }
    }
.section-my-jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .my-jobs{
        text-align: center;
        width: 100%;
        padding: 2% 1%;
    }
    .my-jobs-card{    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;    

    }
    .flex-container{
      justify-content:center;
      
    }
 
    .card{
        margin: 2%;
        width:  21rem;          
    }
   
}
.sec-footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main;
    color: $color-button;
    .footer-title{
        
    }
}